a {
  text-decoration: none;
  color: #9e9e9e;
}

// button
.radius {
  width: 160px;
  height: 50px;
  border-radius: 100px;
  margin-top: 10px;
}

// draw a circle
.circle {
  width: 160px;
  height: 160px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
}

// draw a box
.box {
  position: absolute;
  margin-top: 45px;
  margin-left: 45px;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  border: 4px solid white;
}

// question mark
.fa-question {
  font-size: 57px;
  color: white;
}

// white color
.white {
  background: white;
}

// green color
.green {
  background: #318d73;
}

.white_5 {

}








